mat-card {
  max-width: 65%;
  margin: 2em auto;
  text-align: center;
}

.loading-spinner {
  padding: 25px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-row {
  display: table-cell;
  max-width: 100%;
}

.filter-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}


