mat-card {
  max-width: 65%;
  margin: 2em auto;
  text-align: center;
}

.full-width {
  width: 100%;
}

.caledar-width {
  width: 50%;
}

.min-width {
  width: 100%;
  min-width: 150px;
}

.btn-space {
  margin-left: 5px;
}


