<mat-card>
  <mat-toolbar color="primary">Nova instituição</mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form" class="min-width">
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" #name />
        <mat-hint align="end">{{ name.value.length }} / 100</mat-hint>

      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="type">
          <mat-option value="CENTRAL">Central</mat-option>
          <mat-option value="COOPERATIVE">Cooperativa</mat-option>
          <mat-option value="SINGULAR">Singular</mat-option>
          <mat-option value="CONFEDERATION">Confederação</mat-option>
        </mat-select>
      </mat-form-field>

    </form>
  </mat-card-content>

  <mat-card-actions class="actions-center">
    <button mat-raised-button color="primary" (click)="onSubmit()" type="submit">
      Save
    </button>
    <button mat-raised-button (click)="onCancel()" class="btn-space" type="button">
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
